* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: url("images/sky26.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /* min-width: 40vw; */
}

button {
    font-weight: bold;
    height: 15%;
    width: 50%;
    border: none;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    opacity: 0.7;
}

#weather:hover {
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 0.7;
}

.currentWeather {
    height: 100%;
    width: 100%;
    margin: 2%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    opacity: 0.7;
}

table {
    padding: 5%;
    margin: 2%;
    text-align: center;
    justify-content: center;
}

#weatherIcon {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-left: 3%;
    margin-top: 3%;
    opacity: 0.7;
}

#currentTemp {
    font-size: 32px;
    padding-top: 8px;
}

span {
    width: 200px;
    text-align: start;
    color: #FFFFFF;
}

#currentLocation, #summary {
    height: 10%;
    width: 100%;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    opacity: 0.7;
}

@media (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }
}
