* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    background: url("images/sky.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 100vh;
}

#container {
    height: 100%;
    width: 80%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#currentWeather {
    height: 70%;
    width: 83%;
    margin: 1%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    opacity: 0.7;
}

#weather {
    font-size: 80%;
    padding: 2%;
    height: 10%;
    width: 50%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    padding: 5%;
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    opacity: 0.7;
}

#weather:hover {
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    border: 3px solid rgb(255, 255, 255);
    opacity: 0.7;
}

table {
    padding: 5%;
    margin: 2%;
    text-align: center;
    justify-content: center;
}

tr:last-child>td {
    padding-top: 30px;
}

#weatherIcon {
    display: flex;
    width: 170px;
    height: 110px;
    opacity: 0.7;
}

#currentTemp {
    font-size: 32px;
}

span {
    width: 200px;
    text-align: start;
}

#currentLocation, #summary {
    height: 10%;
    width: 61%;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    opacity: 0.7;
}

#weekTemperature {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 1%;
}

#weekTemperature div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1% 1% 1%;
    box-shadow: 8px 8px 15px 4px rgba(132, 172, 212, 0.5);
    opacity: 0.7;
    width: calc(80%/3);
    padding: 5%;
    justify-content: center;
}

#tempWeek, #summaryWeek, #days {
    font-size: 15px;
    padding: 1%;
}

#summaryWeek {
    height: 30%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

@media (min-width: 800px) {
    #container {
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
    }
    #weather {
        font-size: 100%;
        height: 30%;
    }

}
